asgiref==3.7.2
certifi==2023.7.22
charset-normalizer==3.2.0
Django==4.2.4
grpcio==1.53.0
grpcio-tools==1.53.0
idna==3.4
param==1.13.0
Pillow==10.0.1
protobuf==4.21.12
python-dotenv==1.0.0
requests==2.31.0
sqlparse==0.4.4
stability-sdk==0.8.4
typing_extensions==4.7.1
urllib3==2.0.4
