<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generate Image</title>
</head>
<body>
    <form action="{% url 'index' %}" method="post">
        {% csrf_token %}
        
        <label for="id_text_prompt">Text Prompt:</label>
        <input type="text" name="text_prompt" id="id_text_prompt" required>
        
        <button type="submit">Generate Image</button>
    </form>
    <img src="/media/v1_txt2img_0.png" alt="Generated Image">
</body>
</html>