{% extends "stable_ai/base.html" %} 

{% block content %}
{% comment %} データベースから画像と時間を取得し挿入 {% endcomment %}
<h2 class="title">
    text to image to image's result
<h2 class="title">
</h2>
<br>

<article class="media">
    <div class="media-comment">
        <div class="content">
            <p>
                <small>
                    {{ dates.posted_date }}
                </small>    
                <br>
            </p>
            <h2>
                生成された画像
            </h2>
            <br>
            <img src='/media/uploaded_images/createimage.png'>
            {% comment %} <img src='/media/im2im_generated.png'> {% endcomment %}
        </div>
    </div>
</article>
{% comment %} <div class="notification">コメントはまだありません</div> {% endcomment %}

{% endblock %}

